@charset "utf-8";

/*header*/
#main_header{width: 100%;margin: 0 auto;height: 40px;
	background-color: #0044af;}
.wrap{width: 1200px;margin: 0 auto;}

.util_menu{}
.util_menu>.left{}
.util_menu>.left>li{float: left;background-color: #00163b;
	width: 120px;line-height: 40px;text-align: center;}
.util_menu>.left>li>a{display:  block;color: white;font-weight: bold;}
.util_menu>.left>li:first-child{background-color: #fff;}
.util_menu>.left>li:first-child a{color: #6a6a6a;}

.util_menu2{}
.util_menu2>.right{float: right;}
.util_menu2>.right>li{float: left;margin-left: 10px;}		
.util_menu2>.right>li>a{display: block;color: #fff;
	text-align: center;line-height: 40px;
	font-size: 12px;}		
.util_menu2>.right>li:nth-child(2) {width: 45px;}

.util_menu2>.right>li>img{padding-top: 13px;}

/*menu*/
#main_menu{width: 100%;height: 80px;margin: 0 auto;
	background-color: #fff;}
.logo{width: 1200px; margin: 0 auto; position: relative;}
.logo li, .logo h1, .logo p{float: left;}
.logo .left{}
.logo .left>li{width: 54px;height: 55px;text-indent: -9999px;
	background-image: url(../item/홈페이지시안연습.jpg);
	background-position: -150px -70px;
	position: absolute;left: 10px;top: 10px;}
.logo h1{position: absolute;left: 85px;top: 5px;
	color:#6b6b6b;font-size:30px;}
.logo p{position: absolute;left: 85px;top: 45px;
	color:#6b6b6b;}
.logo .left>h1{border-bottom: 1px solid #d2d2d2;width: 160px;
text-align: center;}



.menu{width: 1200px; margin: 0 auto;}
.menu .right{float: right;}
.menu .right>li{float: left;margin-left: 40px;
	text-align: center;line-height: 80px;
	font-size: 14px;}
.menu .right>li>a{display: block;color: #464646;font-weight:bold;}
.menu .right>li>img{padding-top: 17px;}
/*.menu .right>li:last-child{width: 100px}*/


/*content*/
#content{width: 100%;margin: 0 auto;height: 1300px;
	background: url(../item/img1.jpg) no-repeat center;}
   /*text_icon*/
.text_wrap{width: 1200px; margin: 0 auto;}
.text_wrap .text{color: #fff;}
.text_wrap .text li{float: left;padding: 40px 0;}
.text_wrap .text p:nth-child(1){font-size:40px;}
.text_wrap .text p:nth-child(2){font-size:50px;font-weight: bold;}

.icon_wrap{width: 1200px; margin: 0 auto;}
.icon_wrap .icon{float: right;}
.icon_wrap .icon li{float: left;width: 100px;
	text-align: center;line-height: 20px;
	font-size: 14px;}
.icon_wrap .icon img{padding-top: 45px;}
.icon_wrap .icon a{display: block;color: #fff;}

	/*img*/
.content_wrap .content{width: 1200px; margin: 0 auto;}
.content_wrap .content>li{width: 25%;float: left;height: 225px;}
.content_wrap .content>li:nth-child(1){width:75%;}
.content_wrap .content>li:nth-child(1),
.content_wrap .content>li:nth-child(2){height: 450px;}
.content_wrap .content>li:nth-child(3){background-color: #00163b;}
.content_wrap .content>li:nth-child(4){background-color: #1651b7;}
.content_wrap .content>li:nth-child(5){background-color: #fff;}
.content_wrap .content>li:nth-child(8){width:75%;}

.content_wrap .content>li>ul>li{}

/*slider*/
.bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin-bottom: 0;
    box-shadow: none;
    border: 0 none;
    background: #fff;}
.slider{position: relative;}
.slider p{position: absolute;top: 50px;left: 85px;font-size: 80px;
	color: #1651b7; font-weight:bold;line-height: 80px;}
.slider .btn{position: absolute;bottom: 60px;left: 85px;
	color: #fff;background-color: #192c4d;
	text-align:center;cursor: pointer;
	border: 1px solid #192c4d;padding: 10px 20px;}
.slider .b_none{font-weight: normal;}

/*img3*/
.img3{position: relative;}
.img3 .p1{position: absolute;left:10px;top: 80px;
	font-size:40px;font-weight: bold;
	line-height:45px;color: #fff;}
.img3 .p2{position: absolute;left: 10px;bottom:150px;
	font-size:15px;color: #fff;
	line-height:20px;}
.img3 .btn{position: absolute;bottom: 70px;left: 10px;
	color: #fff;background-color: rgba(0,0,0,0.5);
	text-align:center;font-size:12px;cursor: pointer;
	border: 1px solid #fff;padding: 10px 20px;}
.img3 .b_none{font-weight: normal;}

/*link*/
.link{position:relative;color: #fff;}
.link h2{position:absolute;top: 20px;left: 20px;}
.link img{position:absolute;top: 80px;left: 36px;}
.link p{position:absolute;bottom: 35px;}
.link .p1{text-align:center;left: 36px;}
.link .p2{text-align:center;left: 115px;}
.link .p3{text-align:center;left: 195px;}

/*notice*/
.notice{position: relative; color: #fff;}
.notice h2{position: absolute;top: 20px;left: 10px;}
.notice .text{position: absolute;
	top: 70px;left: 10px;right: 10px;
	font-size:14px;line-height: 30px;
	border-top: 2px solid #fff;padding-top: 10px;}
.notice p{float: left;}
.notice span{float: right;}

/*img4*/
.img4{position: relative;}
.img4 h2{position: absolute;left: 20px;top: 20px;
	color: #00163b;}
.img4 p{position: absolute;right: 20px;top: 70px;
	font-size:14px;}
.img4 .image4{position: absolute;left: 20px;top: 70px;}
.img4 .sns{position: absolute;right: 20px;bottom: 20px;}

/*img5*/
.img5{position: relative;overflow:hidden;}
.img5 .overlay{width:300px;height: 225px;
	position: absolute;bottom: -175px;transition:0.5s;
	background-color: rgba(0,0,0,0.3);}
.img5 .overlay:hover{width:300px;height: 225px;
	position: absolute;bottom: -150px;
	background-color: rgba(0,0,0,0.7);}
.img5 .title{width:300px;color: #fff; 
	font-size:20px;transition:0.5s;
	text-align:center;line-height:50px;}
.img5 .overlay:hover .title{width:300px;color: #fff; 
	font-size:20px;cursor: pointer;
	text-align:center;line-height:70px;}	

/*img6*/
.img6 img{display: block;}
.img6{position: relative;overflow:hidden;}
.img6 .play{position: absolute;top: 50%;left:50%;
	margin-top: -31px;margin-left: -31px;
	cursor: pointer;z-index: 1;}
.img6 .image6{position: absolute;top:0;transition:1s;}

.img6 .black{width: 300px;height: 225px;background-color: #000;
	position: absolute;top:0;
	opacity:0;transition:1s;}

.img6 .play:hover ~ .black{opacity: 0.5;} 
.img6 .play:hover + .image6{transform:scale(1.2);}


/*img7*/
.img7{position: relative;}
.img7 .p1{position: absolute;left:30px;top: 30px;
	font-size:35px;color: #f00;}
.img7 .p2{position: absolute;left:30px;top: 70px;
	font-size:60px;font-weight: bold;color: #f00;}
.img7 .btn{position: absolute;left: 30px;top: 160px;
	color: #fff;background-color: rgba(255,0,0,0.7);
	text-align:center;font-size:12px;cursor: pointer;
	border: 0.5px solid #fff;padding: 10px 20px;}

	/*slider2*/
	/*.img2 .bx-wrapper .bx-pager {padding: 0;height: 450px;}*/
	.img2 .bx-wrapper .bx-pager {top: 85%;}
	.img2 .bx-wrapper .bx-pager.bx-default-pager a:hover,
	.img2 .bx-wrapper .bx-pager.bx-default-pager a.active,
	.img2 .bx-wrapper .bx-pager.bx-default-pager a:focus {
	    background: #00f;}

	.img7 .bx-wrapper .bx-pager {top: -5px;right: -385px;}
	.img7 .bx-wrapper .bx-pager.bx-default-pager a:hover,
	.img7 .bx-wrapper .bx-pager.bx-default-pager a.active,
	.img7 .bx-wrapper .bx-pager.bx-default-pager a:focus {
	    background: #f00;}


/*bottom*/
#main_bottom{width: 1200px;height: 60px;margin: 0 auto;
	background-color: #fff;margin-top: 20px;
	position: relative;}

.bottom_menu .li1{float: left;width: 300px;font-weight: bold;
	border-right: 2px solid #6b6b6b;}
.bottom_menu .li1 p{float: left;line-height: 60px;
	padding-left: 35px;color: #00163d;
	font-size: 18px;}
.bottom_menu .li1 span{float: right;line-height: 60px;
	padding-right: 30px;}

.bottom_menu .li2{float: left;width: 900px;}
.bottom_menu .li2 p{float: left;line-height: 60px;
	padding-left: 30px;color: #585858;
	font-size: 16px;font-weight:bold;}
.bottom_menu .li2 span{float: right;line-height: 60px;
	padding-right: 70px;color: #6a6a6a;
	font-size: 12px;}

.bottom_menu .up{position: absolute;top: 0;right: 0;}
.bottom_menu .down{position: absolute;bottom: 0;right: 0;}

/*footer*/
#main_footer{width: 1200px;height:165px;margin: 0px auto;
	background-color: #fff;margin-top:35px;}
.footer_wrap{margin-left:300px;}
.footer_1 ul{}
.footer_1 li{float: left;margin-bottom:10px;}
.footer_1 a{display:block;color: #444444;font-size: 14px;}
.footer_1 span{padding: 0 20px;}

.footer_2 ul{}
.footer_2 li{}
.footer_2 li{display: block; line-height:18px;
	color: #9b9b9b;font-size: 12px;}
.footer_2 span{padding-left:10px;}
.footer_2 .color{color: #676767;	padding-top:10px;}