@charset "utf-8";
/*reset*/
*{margin: 0;padding: 0;box-sizing: border-box;}
li{list-style: none;}
a{display: block;color:#000;text-decoration: none;}
img{display: block;}
.clearfix::before,
.clearfix::after{content:'';display: block;clear:both;}

body,html{font-family: 'Black Han Sans',Arial,
	sans-serif;font-weight: black;
	cursor: url(../img/cursor.cur),auto;}
a:hover{cursor: url(../img/hover.cur),auto;}


/*style*/
/*toggle*/
.toggle{width: 100px;height: 100%;position: fixed;z-index: 5;
	border-right: 2px solid;_filter: blur(1px);
	border-color: rgba(255,255,255,0.5);}
.toggle img{width: 40px;position: fixed;
	top: 30px;left: 30px;}

/*intro*/
.intro{display: none;
	width: 100%;height: 100%;
	position: fixed;z-index: 6;
	color: #fff;
	background-color: rgba(0,0,0,0.3);
	cursor: url(../img/click.cur);}
.intro p{position: absolute;
	bottom: 300px;left: 200px;
	font-size: 50px;}
.intro h3{position: absolute;
	bottom: 75px;left: 200px;
	font-size: 80px;}

/*pager*/
#pager{position: fixed;right: 30px;top: 50%;
	transform: translateY(50%);z-index: 5;
	cursor: pointer;}
#pager > p{margin-bottom: 20px;}
#pager > p:nth-child(3){position: relative;}
#pagerP{display: none;
	position: absolute;top: 30px;left: -120px;
	width: 100px;height: 140px;
	border-radius: 25px;
	background-color: rgba(255,255,255,0.8);}
#pagerP > p{line-height: 30px;text-align: center;}
#pagerP > p:nth-child(1){padding-top: 10px;}
#pagerP > p:nth-child(4){padding-bottom: 10px;}

/*wrapper*/
#wrapper{overflow: hidden;}
#wrapper > div{}
#page1,#page2,#page3,#page4{width: 100vw;height: 100vh;}




/*----------page1----------*/
#page1{background:url(../img/bg_01.jpg) no-repeat center;
	background-size:cover;}

/*main01*/
.main01{position: relative;
	color:#808080;
	_display: none;}
.main01 p{position: absolute;
	top: 50px;left: 150px;
	line-height: 4vw;
	font-size: 3vw;}

/*----------page2----------*/
#page2{background: url(../img/bg_05.jpg) no-repeat center;
	background-size:cover;overflow: hidden;}
.main02{width: 1200px;height: 100%;margin: 0 auto;text-align: center;position: relative;}
.main02 ul{position: absolute;top: 50%;
	transform: translateY(-50%);}
.main02 li{display: inline-block;width: 22%;margin-right: 3%;
	border-radius: 50%;}
.main02 li:last-child{margin-right: 0px;}
.main02 img{width: 100%;
	transition:.3s;_position:absolute;transform-origin:50% 0;}
.main02 img:hover{transform:rotate(-45deg);}

/*----------page3----------*/
#page3{position: relative;}
#port{width: 400vw;height: 100vh;
	position: absolute;
	font-size: 5em;text-align: center;}
#port > div{float: left;width: 100vw;height: 100vh;}
#port01{background: url(../img/bg_04.jpg) no-repeat center;
	background-size:cover;}
#port02{background: url(../img/bg_04.jpg) no-repeat center;
	background-size:cover;}
#port03{background: url(../img/bg_04.jpg) no-repeat center;
	background-size:cover;}
#port04{background: url(../img/bg_04.jpg) no-repeat center;
	background-size:cover;}


/*----------page4----------*/
#page4{background: url(../img/bg_06.jpg) no-repeat center;
	background-size:cover;}




/*--------------------next1--------------------*/
.next1{width: 100%;height: 20vh;}
.next1{background:url(../img/next_01.jpg) no-repeat center;
	background-size:cover;}