@charset "utf-8";
/*reset*/
	*{margin: 0;padding: 0;box-sizing: border-box;}
	li{list-style: none;}
	a{display: block;color:#000;text-decoration: none;}
	img{display: block;}
	.clearfix::before,
	.clearfix::after{content:'';display: block;clear:both;}

body,html{font-family: Arial, sans-serif;
	font-weight: black;}
	/*cursor: url(../img/cursor.cur),auto;*/
	/*a:hover{cursor: url(../img/hover.cur),auto;*/

/*----------style----------*/
/*menu*/
	#menu{position: fixed;z-index: 5;width: 100vw;height: 70px;}
	#menu ul{float: right;}
	#menu li{float: left;padding: 0 50px;margin-top: 20px;}
		#menu li a:after{content:"";display: block;
			width: 0;height: 2.5px;margin-top: 7px;
			border-radius: 2px;transition: .5s;
			background-color: #d3caa3;}
		#menu li a:hover:after{width: 100%;}
		#menu li.active a:after{content:"";display: block;
			width: 100%;height: 2.5px;margin-top: 7px;transition: .3s;
			border-radius: 2px;background-color: #d3caa3;}
	#menu li:nth-child(5){padding-right: 0px;}
	#menu li:nth-child(6) a:hover:after{width: 0;}
	#menu a{font-size: 1.2em;font-weight: bold;color: #d3caa3;}
		/* logo */
		#menu li.logo{position: absolute;left: 5%;
			padding-right: 0px;}
		#menu li.logo img{width: 80px;}
		/* img */
		#menu li:nth-child(6) img{width: 120px;
			margin: -70px 0 0 0;transition: .5s;
			animation: rope 1.5s infinite linear alternate;}
			#menu li:nth-child(6) img:hover{margin: -25px 0 0 0;}
			@keyframes rope{
				from{transform: rotate(2.5deg);}
				to{transform: rotate(-2.5deg);}
			}

/*pager*/
	#pager{position: fixed;;z-index: 5;
		bottom: 50px; left: 10%;}
	#pager ul{}
	#pager li{float: left;padding: 5px;/*cursor: url(../img/hover.cur),auto;*/}
	#pager li:hover a{margin: 0 3px;transform: rotate(15deg);transition: 0.3s;}
	#pager li.active a{margin: 0 3px;transform: rotate(15deg);transition: 0.3s;}
	#pager a{display: block;
		width: 2px;height: 20px;
		border-radius: 2px;
		background-color: #d3caa3;}
	#pager li:nth-child(3){position: relative;}
	#pagerP{display: none;
		position: absolute;top: 30px;left: -120px;
		width: 100px;height: 140px;
		border-radius: 25px;
		background-color: rgba(255,255,255,0.8);}
	#pagerP > p{line-height: 30px;text-align: center;}
	#pagerP > p:nth-child(1){padding-top: 10px;}
	#pagerP > p:nth-child(4){padding-bottom: 10px;}

/*btn*/
	#btn{position: fixed;z-index: 5;
		right: 50px;top: 55%;
		transform: translateY(-50%);}
	#btn .line{content: "";margin-left: 20px;
		width: 2px;height: 21vh;
		background-color: #d3caa3;}
	#btn p{margin: 10px 0 10px 12px;
		font-size: 1vw;color: #d3caa3;}
	#btn img{width: 2.5vw;}

/*----------wrapper----------*/
	#wrapper{overflow: hidden;position: relative;}
	#page1,#page2,#page3,#page4,#page5{width: 100vw;height: 100vh;}
	::-webkit-scrollbar {display:none;}
	.foot{position: absolute;bottom: -2vw;right: 60px;
		font-size: 8vw;letter-spacing: 10px;opacity: 0.2;}


/*----------page1----------*/
	#page1{background:url(../img/bg_01.jpg) no-repeat center;
		background-size:cover;
		position: relative;overflow: hidden;}
		#page1 .foot{color: #d3caa3;}
	#main1{padding: 15% 0 0 15%;color: #d3caa3;}

	/*#page1{position: relative;overflow: hidden;}
		#page3 .foot{color: #000;}
	#main1{background:url(../img/bg_01.jpg) no-repeat -25px -50px;
		position:absolute;top:0;z-index:0;
		width:100%;height:100%;color: #d3caa3;
		background-size: calc(100% + 50px);}
	#main1 ul{padding: 15% 0 0 15%;color: #d3caa3;}
	#main1 li{}*/
	#main1 h2{font-size: 3vw;margin: 30px 0;}
	#main1 p{font-size: 1.3vw;}
	/*#main1 li.active p:after{display: block;content:"";
		width: 450px;height: 2px;
		margin-top: -15px;margin-left: 13%;
		background-color: #d3caa3;
		animation:lines 2s ease-in-out;}
		@keyframes lines{
			from{width: 0;}
			to{width: 450px;}
		}*/
	#main1 li:nth-child(1) p:after{display: block;content:"";
		width: 0%;height: 2px;
		margin-top: -15px;margin-left: 13%;
		background-color: #d3caa3;
		transition: 2s;}
	#main1 li.active:nth-child(1) p:after{width: 30%;}




/*----------page2----------*/
	#page2{position: relative;overflow: hidden;}
		#page2 .foot{color: #000;}
	#page2 video{width: auto;height: auto;position: absolute;
		top: 50%;left: 50%;transform:translate(-50%,-50%);}
	#main2{position: absolute;top: 45%;left: 50%;
		transform: translate(-50%,-50%);}
	#main2 h2{text-align: center;font-size: 2.5vw;}
	#main2 h2 span{letter-spacing: -7px;}
	#main2 h2.active span{display: inline-block;
			animation:create 1s forwards;
			opacity: 0;}
		/*animation: ye 1.2s infinite ease-in-out alternate;}*/
		#main2 h2.active span:nth-child(2){animation-delay:0.2s;}
		#main2 h2.active span:nth-child(3){animation-delay:0.4s;}
		#main2 h2.active span:nth-child(4){animation-delay:0.6s;}
		#main2 h2.active span:nth-child(5){animation-delay:0.8s;}
		#main2 h2.active span:nth-child(6){animation-delay:1s;}
		#main2 h2.active span:nth-child(7){animation-delay:1s;}
		#main2 h2.active span:nth-child(8){animation-delay:1.2s;}
		#main2 h2.active span:nth-child(9){animation-delay:1.4s;}
		#main2 h2.active span:nth-child(10){animation-delay:1.6s;}
		#main2 h2.active span:nth-child(11){animation-delay:1.8s;}
		#main2 h2.active span:nth-child(12){animation-delay:2s;}
		#main2 h2.active span:nth-child(13){animation-delay:2.2s;}
		@keyframes create{
			from{opacity: 0;}
			to{opacity: 1;}
		}
	#main2 p{text-align: left;
		font-size: 1.2vw;}
	#main2 img{width: 250px;margin: 20px auto;opacity: 0;}
	#main2 img.active{animation:paint 2s forwards;
		animation-delay: 3s;
		opacity: 0;}
		@keyframes paint{
			from{opacity: 0;}
			to{opacity: 1;}
		}


/*----------page3----------*/
	#page3{position: relative;overflow: hidden;}
		#page3 .foot{color: #000;}
	#main3{background:url(../img/bg_03.jpg) no-repeat -25px -50px;
		position:absolute;top:0;z-index:0;
		width:100%;height:100%;
		background-size: calc(100% + 50px);}
	#main3 ul{position: absolute;top: 50%;left: 50%;
		transform: translate(-50%,-50%);}
	#main3 li{display: none;float: left;overflow: hidden;
		font-size: 1.5vw;margin-right: 5vw;
		font-weight: bold;line-height: 2.5vw;}
		#main3 li:last-child{margin-top: -7px;margin-right: 0;}




/*----------page4----------*/
	#page4{position: relative;overflow: hidden;}
		#page4 .foot{color: #000;}
	#main4{}
	#main4 ul{}
	#main4 li{float: left;width: 25%;height: 100vh;
		transition: .3s;position: relative;
		_border: 1px solid #000;}
	#main4 h2{margin: 12vw 0 7.5vw 5vw;color: #ccc;
		font-size: 3.5vw;font-weight: bold;}
	#main4 p{margin: 25px 0;}

	#main4 .txt01{margin-left: 50px;font-size: 2.5vw;font-weight: bold;}
	#main4 .txt02{margin-right: 120px;text-align: right;
		color: #808080;font-size: 1vw;}

	#main4 a{margin: 50px 80px;width: 120px;height: 35px;
		text-align: center;line-height: 35px;
		font-size: 0.95em;color: #808080;border-radius: 25px;
		border: 1px solid #000;}

/*#main4 li:nth-child*/
/*1*/
	#main4 li:nth-child(1){position: relative;position: absolute;left: 0;}
	#main4 li:nth-child(1) .box{width: 0;height: 100%;
		position: absolute;top: 0;left: 0;
		background-color: #632475;z-index: -1;}
	#main4 li:nth-child(1) img{display: none;width: 400px;position: absolute;
		top: 40%;left: -110%;z-index: 1;}
/*2*/
	#main4 li:nth-child(2){position: relative;overflow: hidden;
		position: absolute;left: 25%;}
	#main4 li:nth-child(2) .box{width: 0;height: 100%;
		position: absolute;top: 0;left: 0;
		background-color: #e7e4df;z-index: -1;}
	#main4 li:nth-child(2) img{width: 200px;position: absolute;
		top: 40%;left: -30%;z-index: 1;display: none;}
/*3*/
	#main4 li:nth-child(3){position: relative;overflow: hidden;
		position: absolute;left: 50%;}
	#main4 li:nth-child(3) .box{width: 0;height: 100%;
		position: absolute;top: 0;left: 0;
		background-color: #ff7f50;z-index: -1;}
	#main4 li:nth-child(3) img{width: 200px;position: absolute;
		top: 40%;left: -40%;z-index: 1;display: none;}
/*4*/
	#main4 li:nth-child(4){position: relative;overflow: hidden;
		position: absolute;left: 75%;}
	#main4 li:nth-child(4) .box{width: 0;height: 100%;
		position: absolute;top: 0;left: 0;
		background-color: #ea737e;z-index: -1;}
	#main4 li:nth-child(4) img{width: 200px;position: absolute;
		top: 40%;left: -30%;z-index: 1;display: none;}

/*mid_page*/
	#mid_page{position: relative;}
	#mid_page ul{}
	#mid_page li{position: absolute;top: 0;z-index: 1;
		width: 100vw;height: 100vh;}
		#mid_page h2{font-size: 3.5vw;}
		#mid_page .txt01{margin: 12vw 0 0 25vh;color: #632475;}
		#mid_page .txt02{margin: 1.5vw 0 0 25vh;color: #000;}
		#mid_page p{margin: 2vw 0 0 30vh;font-weight: bold;}
		#mid_page a{width: 250px;
			position: absolute;top: 72%;left: 35%;
			text-align: center;line-height: 60px;
			font-size: 1.7em;font-weight: bold;}
		#mid_page .close{position: absolute;top: 74%;right: 45%;
			font-size: 2vw;font-weight: bold;cursor: pointer;}
		#mid_page h2,#mid_page p,#mid_page a,#mid_page img,#mid_page .close{display: none;}
/*1*/
	#mid_page li:nth-child(1){width: 0;background-color: #fff;}
	#mid_page li:nth-child(1) img{width: 600px;
		position: absolute;top: 50%;right: 10%;
		transform: translateY(-50%);}
	#mid_page li:nth-child(1) a{background-color: #632475;color: #fff;}
	#mid_page li:nth-child(1) p:after{display: block;content:"";
			width: 17%;height: 2px;
			margin-top: -115px;margin-left: 11%;
			background-color: #000;
			transition: 2s;}
/*2*/
	#mid_page li:nth-child(2){width: 0;background-color: #fff;}
	#mid_page li:nth-child(2) img{width: 275px;
		position: absolute;top: 50%;right: 15%;
		transform: translateY(-50%);}
	#mid_page li:nth-child(2) .txt01{color: #4d4d4d;}
	#mid_page li:nth-child(2) a{background-color: #e7e4df;color: #4d4d4d;}
	#mid_page li:nth-child(2) p:after{display: block;content:"";
			width: 17%;height: 2px;
			margin-top: -115px;margin-left: 7%;
			background-color: #000;
			transition: 2s;}
/*3*/
	#mid_page li:nth-child(3){width: 0;background-color: #fff;}
	#mid_page li:nth-child(3) img{width: 275px;
		position: absolute;top: 50%;right: 20%;
		transform: translateY(-50%);}
	#mid_page li:nth-child(3) .txt01{color: #666;}
	#mid_page li:nth-child(3) a{background-color: #ff7f50;color: #fff;}	
	#mid_page li:nth-child(3) p{color: #666;}
	#mid_page li:nth-child(3) span{color: #000;}
	#mid_page li:nth-child(3) p:after{display: block;content:"";
			width: 17%;height: 2px;
			margin-top: -136px;margin-left: 7%;
			background-color: #000;
			transition: 2s;}
/*4*/
	#mid_page li:nth-child(4){width: 0;background-color: #fff;}
	#mid_page li:nth-child(4) img{width: 275px;
		position: absolute;top: 50%;right: 20%;
		transform: translateY(-50%);}
	#mid_page li:nth-child(4) .txt01{color: #aaa;}
	#mid_page li:nth-child(4) a{background-color: #ea737e;color: #fff;}	
	#mid_page li:nth-child(4) p{color: #666;}
	#mid_page li:nth-child(4) span{color: #000;}
	#mid_page li:nth-child(4) p:after{display: block;content:"";
			width: 17%;height: 2px;
			margin-top: -136px;margin-left: 7%;
			background-color: #000;
			transition: 2s;}

/*----------page5----------*/
	#page5{background:url(../img/bg_05.jpg) no-repeat top right;
		background-size:cover;color: #d3caa3;
		position: relative;overflow: hidden;}
		#page5 .foot{color: #d3caa3;}
		#page5 > h2{position: absolute;;top: 45%;font-size: 5vw;
			transform: translateY(-50%);transform: rotate(-90deg);}
	#main5{width: 50%;
		position: absolute;top: 55%;left: 50%;
		transform: translate(-50%,-50%);}
	#main5 ul{}
	#main5 li{float: left;width: 45%;height: 30vh;
		_border: 1px solid #fff;}
	#main5 li:nth-child(1){padding-top: 15vh;}
	#main5 li:nth-child(1) p{font-size: 1.5vw;text-align: right;
		transform: translateY(-50%);letter-spacing: 1px;}
	#main5 li:nth-child(1) span{font-size: 3vw;line-height: 5vw;letter-spacing: 0;}

	#main5 li:nth-child(2){width: 10%;}
	#main5 li:nth-child(2) .line{margin: 0 auto;width: 1px;height: 70%;
		margin-top: 50%;background-color: #d3caa3;}

	#main5 li:nth-child(3){padding-top: 6.5vh;}
	#main5 li:nth-child(3) p{display: inline;line-height: 3vw;}
	#main5 li:nth-child(3) a{display: inline;color: #d3caa3;}
	#main5 li:nth-child(3) img{display: inline;margin-right: 10px;
		width: 15px;}

	#main5 li:nth-child(4){width: 100%;text-align: center;}
	#main5 li:nth-child(4) p{display: inline;}
	#main5 li:nth-child(4) img{display: inline;margin-right: 10px;
		width: 20px;}
	/*#main5 img{display: inline;}*/
	/*#main5 li:nth-child(1){float: left;text-align: right;}
	#main5 li:nth-child(2){float: left;width: 1px;height: 150px;
		margin: 0 30px;
		background-color: #d3caa3;}
	#main5 li:nth-child(3){float: left;text-align: left;}*/