@charset "utf-8";
/*reset*/
*{margin: 0;padding: 0;box-sizing: border-box;}
li{list-style: none;}
a{color:#000;text-decoration: none;}
img{display: block;}
.clearfix::before,
.clearfix::after{content:'';display: block;clear:both;}

body,html{width: 100%;height: 100%;
	cursor: url(../img/cursor.cur),auto;}
a:hover{cursor: url(../img/hover.cur),auto;}

/*style*/
#wrapper{width: 100%;height: 100vh;}
	/*.page{background-repeat:no-repeat;
		background-position: center;
		background-size:cover;}*/
	#page1{width: 100%;height: 100vh;
		background:url(../img/bg_01.jpg) no-repeat center;
		background-size:cover;}
	#page2{width: 100%;height: 100vh;background:url(../img/bg_02.jpg);}
	#page3{}