@charset "utf-8";
.on{color: #632475;}
#main_header{height:1950px; position: relative;}
	#header_top{width:1260px;height:50px;
		position:absolute;left:50%;margin-left:-630px;
		top:40px;z-index: 1;}
	#header_top > img{float:left;}
	
	#main_menu{float:right;}
	#main_menu ul{}
	#main_menu ul li{float: left;}
	#main_menu ul li a{display:block;padding:0 30px;
		color: #4c4c4c;line-height:50px;
		font-weight:bold;}
	#main_menu ul>li.kro,
	#main_menu ul>li.eng{display:block;
		width: 50px;height: 50px;}
	#main_menu ul>li.kro{background-color: #632475;}
	#main_menu ul>li.eng{border:1px solid #632475;}
		#main_menu ul li.kro>a,
		#main_menu ul li.eng>a{padding-left: 10px;color:#fff;font-weight:normal;}
		#main_menu ul li.eng>a{color: #4c4c4c;}

/*bxslider*/
.slider_wrap{height:1005px;}
	.slider_wrap ul li{height: 1005px;}
	.slider_wrap li h3{}
	.slider_wrap li.first{background:url(../images/mainimg01.jpg) no-repeat center;
	background-size:cover;}
	.slider_wrap li.second{background:url(../images/mainimg02.jpg) no-repeat center;
	background-size:cover;}
	.slider_wrap li.third{background:url(../images/mainimg01.jpg) no-repeat center;
	background-size:cover;}
	.slider_wrap li.fourth{background:url(../images/mainimg02.jpg) no-repeat center;
	background-size:cover;}
	.slider_wrap .slider_txt{width: 600px;position: absolute;
		left: 50%;margin-left: -300px;top: 25%;
		padding:50px 20px 50px 20px;
		color: #4c4c4c;text-align: center;}
	.slider_wrap p:after{margin: 20px auto;
		content:"";display:block;
		width: 500px;height: 3px;
		background-color: #4c4c4c;}
	.slider_wrap p{font-size:1.2em;}
	
	.slider_wrap h3{font-size:4em;_text-shadow:10px 5px 5px #808080;}
	.prevBtn{position: absolute;top: 25%;left: 0;}
	.nextBtn{position: absolute;top: 25%;right: 0;}

.bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: 0;
    border: 0 none;
    background: #fff;
}


/*header content*/
#main_header .content{width: 1260px;height: 1260px;
	position: absolute;left: 50%;margin-left: -630px;bottom: 0;
	_background-color: #fff;}
#main_header  .content li{float: left;width: 25%;height: 315px;
		_border: 1px solid #000;}

	/*1*/
	.content li.content1st{background-color: #a8cc0a;
		text-align: center; 
		color:white;font-weight:bold;
		padding-top: 50px;}

	/*2*/
	.content li.content2nd{position: relative;overflow: hidden;transition:1s;}
	.content li.content2nd .play_2nd{position: absolute;top: 50%;left: 50%;
		transform: translate(-50%,-50%);}
	.content li.content2nd .content2nd_img{position: absolute;top: 0;transition: 1s;}
	.content li.content2nd .content2nd_img:hover{transform: scale(1.2);}

	/*3*/
	.content li.content3rd{width: 50% !important;position: relative;}
	.content li.content3rd h3{width: 200px;padding-top: 30px;padding-left: 30px;
		z-index: 1;position: absolute;}
	.content li.content3rd .slider2{position: absolute;top: 0;left: 0;width: 630px;}
	.content li.content3rd .slider2 li{width: 630px !important;}
	.content li.content3rd .slider2 div{float: left; width: 315px;height: 315px;}
	.content li.content3rd .slider2 div.left{padding-top:70px;
		text-align: center;}
		.content li.content3rd .slider2 div.left p{padding-top:30px;}
		.content li.content3rd .slider2 div.left:after{content:"";border-width:20px;
			border-style:solid;border-color:transparent transparent transparent #fff;
			position: absolute;left: 315px;top: 137.5px;}

		li.content3rd .btn{position: absolute;left: 200px;bottom: 30px;cursor:pointer;}
		li.content3rd .btn img{float: left;width: 40px;height: 40px;}
	/*.content li.content3rd .slider2 li.left{}*/
	/*.content li.content3rd .slider2 li.right{}*/

	/*2*/
	.content li.content5st{background-color: #fbe06c;
		text-align: center; 
		color: #808080;font-weight:bold;
		padding-top: 50px;}
	.content li.content6st{background-color: #fdf8ab;
		text-align: center; 
		color: #808080;font-weight:bold;
		padding-top: 50px;}
	.content li.content7st{width: 50% !important;position: relative;}
		li.content7st .card{position: absolute;width: 375px;height: 180px;
			bottom: 30px;left: 30px;
			background-color: rgba(255,255,255,0.5);color: #41347a;
			_box-shadow:7px 10px 5px rgba(0,0,0,0.5);
			padding:50px 20px 50px 20px;}
		li.content7st .card h3{position: absolute;top: 70px;
		font-size:1.5em;}
		li.content7st .card p{position: absolute;bottom: 10px;
		font-size:1em;font-weight: bold;}
		li.content7st .card img{position: absolute;top:10px;}

	/*3*/
	.content li.content8st{height: 50% !important;position: relative;}
		li.content8st .card{position: absolute;bottom: 0;
			color:#fff;
			line-height: 50px;}
		li.content8st .card h3{font-size:1.5em;text-align: center;}
		li.content8st .card img.acc_2{padding: 20px 0 55px 23px;}
		li.content8st .card img.acc_3{padding-left: 120px;}

	.content li.content9st{width: 50% !important;position: relative;}
		li.content9st .card{position: absolute;width: 260px;height: 170px;
			top: 30px;left: 30px;
			background-color: rgba(255,255,255,0.5);color: #41347a;
			_box-shadow:7px 10px 5px rgba(0,0,0,0.5);
			padding:20px 20px;}
		li.content9st .card h3{font-size: 1.5em;margin-top: 10px;}
		li.content9st .card p{font-size: 1.2em;font-weight: bold;}
		li.content9st .card img{padding:60px 0 0 80px;}

	.content li.content10st{background-color: #418006;
		text-align: center; 
		color: #fff;font-weight:bold;
		padding-top: 50px;}

	/*4*/
	.content li.content11st{background-color: #e9a81d;
		text-align: center; 
		color: #fff;font-weight:bold;
		padding-top: 50px;}
	.content li.content12st{width: 50% !important;position: relative;}
		li.content12st{width: 50% !important;}
		li.content12st .card img{position: absolute;bottom: 50px;left: 50px;}


/*content*/
#content{height: 730px;position: relative;
	background: url(../images/content_img_01.jpg) no-repeat center fixed;
	background-size: cover;}
	.section{width : 1260px;height: 730px;
		color:white;margin: 0 auto;}
	.section > p{text-align: center;padding-top: 30px;}
	.section > p:after{content:"";display:block;
			width: 30px;height: 3px; margin: 30px auto;
			background-color: #fff;}

	/*.section > p{text-align:center; color: white;padding-top: 70px;}
	.section > p:after{content:"";display:block;
		width: 50px;height: 3px;
		background-color: #fff; margin: 30px auto;}*/
	
	.section p{text-align: center;}
	.section h2{text-align: center;margin-bottom: 50px;}
	.section ul{width: 100%;}
	.section li{float: left;width: 300px;height: 380px;
		margin-top: 60px;margin-right:20px;transition:0.3s;
		position: relative; _background-color: skyblue;}
	.section li:hover{transform:translate(-10px,-10px);
		box-shadow:8px 8px 10px rgba(0,0,0,0.5);}
	.section li:last-child{margin-right:0;}
	.section li img{position: absolute;top: 0;
		left: 50%; transform: translate(-50%,0);}
	.section li .box{width: 300px;height: 380px;
		position: absolute;top: 50%;
		text-align: center;}
	.section li:nth-child(2) .box{position: absolute;bottom: 70px;}
	.section li h3{margin-bottom: 20px;}
/*content_2*/
#content_2{width : 1260px; margin: 80px auto;
	background-color: #632475;}
#content_2 ul{}
#content_2 li{float: left;width: 315px;height: 315px;}
	/*purple*/
	#content_2 li.box_c1{width: 315px;height: 630px !important;
		position: relative; background-color: #632475;color:#fff;}
		li.box_c1{padding-top:60px;}
		li.box_c1 img{margin:0 auto;margin-bottom:10px;}

		li.box_c1 .text_c3{padding-left:20px;font-size: 0.95em;}
		li.box_c1 h3{text-align:center;font-size: 2em;margin-bottom:70px;}	
		li.box_c1 .day{padding-top: 20px;}	

		li.box_c1 .btn{position: absolute;bottom: 30px;right: 30px;}
		li.box_c1 .btn img{float: left;width: 40px;height: 40px;}
		li.box_c1 .bx-viewport{height: 500px !important;}
		li.box_c1 .bx-wrapper{ background-color: #632475}



		
		/*li.box_c1 .slider3 li{width: 630px !important;}
		li.box_c1 .btn{position: absolute;left: 200px;bottom: 30px;cursor:pointer;}
		li.box_c1 .slider3{position: absolute;top: 0;left: 0;width: 630px;}
		li.box_c1 > .btn > img{float: left;width: 40px;height: 40px;}*/

	/*comment*/
	#content_2 .name{position: absolute;top: 15%;
		left: 50%;transform:translate(-50%,0);}
	#content_2 .comment{position: absolute;top: 40%;
		left: 50%;transform:translate(-50%,0);}
	/*화살표*/
	li.box_c3{position: relative;background-color: #f7f7f7;}
	li.box_c3:after{content:"";border-width:20px;
			border-style:solid;border-color: #f7f7f7 transparent transparent transparent;
			position: absolute;top: 315px;left: 137.5px;}
	li.box_c5{position: relative;background-color: #f7f7f7;}
	li.box_c5:after{content:"";border-width:20px;
			border-style:solid;border-color: transparent transparent #f7f7f7 transparent;
			position: absolute;bottom: 315px;left: 137.5px;}
	li.box_c7{position: relative;background-color: #f7f7f7;}
	li.box_c7:after{content:"";border-width:20px;
			border-style:solid;border-color: transparent transparent #f7f7f7 transparent;
			position: absolute;bottom: 315px;left: 137.5px;}
	
/*content_3*/
#content_3{width : 1260px; margin: 80px auto;}
	#content_3 li{float: left;width: 630px; height: 315px;
		position: relative;padding: 30px;}
	#content_3 li h2:after{content:"";display:block;
		width: 50px;height: 3px;margin: 15px 0;}
	#content_3 li.li_c3_1 h2:after{background-color: #808080;}
	#content_3 li.li_c3_2 h2:after{background-color: #fff;}
	#content_3 li.li_c3_1{color: #808080;background-color: #fef6c7;}
	#content_3 li.li_c3_2{color: #fff;background-color: #9597c7;}
	#content_3 li.li_c3_1 img{position: absolute;bottom: 30px;right:30px;}
	#content_3 li.li_c3_2 img{position: absolute;bottom: 0;right: 30px;}
	#content_3 li a{width: 170px;height: 50px;
		text-align: center;line-height: 48px;}
	#content_3 li.li_c3_1 a{position: absolute;color: #808080;
		bottom: 50px;left: 50px;
		border: 1px solid #808080;}
	#content_3 li.li_c3_2 a{position: absolute;color: #fff;
		bottom: 50px;left: 50px;
		border: 1px solid #fff;}



/*footer*/
footer{width : 100%; height:200px ;background-color: #fff;
	border-top:1px solid #808080;}
#main_footer{width: 1260px;margin: 0 auto;
	padding: 45px 80px 0 80px;
	color:#808080; position: relative;}
	#main_footer p{padding-bottom: 10px;}
	#main_footer a{color: #808080;}
	#main_footer span{padding: 0 25px;}
	#main_footer .p_1{}
	#main_footer .p_2{font-size: 0.9em;}
	#main_footer img{position: absolute;
		top: 50%;right: 80px;
		transform: translate(0,-25%);}


/*----------------------------------------sub01----------------------------------------*/
#sub_header{height: 460px;margin: 0 auto;
		background: url(../images/sub_img_01.jpg)no-repeat;
		background-size: cover;position: relative;}
	#sub_header_top{width:1260px;height:50px;
		margin: 0 auto;/*
		position:absolute;left:50%;margin-left:-630px;
		top:40px;z-index: 1;*/}
	#sub_header_top > a{float:left;padding-top: 25px;}
	
	#sub_menu{float:right;}
	#sub_menu ul{padding-top: 25px;}
	#sub_menu ul li{float: left;}
	#sub_menu ul li a{display:block;padding:0 30px;
		color: #fff;line-height:50px;
		font-weight:bold;}
	#sub_menu ul>li.kro,
	#sub_menu ul>li.eng{display:block;
		width: 50px;height: 50px;}
	#sub_menu ul>li.kro{background-color: #632475;}
	#sub_menu ul>li.eng{border:1px solid #632475;}
		#sub_menu ul li.kro>a,
		#sub_menu ul li.eng>a{padding-left: 10px;font-weight:normal;}
		#sub_menu2{width: 1260px;margin: 0 auto; 
			position: absolute;left: 50%;margin-left: -630px;bottom: 0;}
		#sub_menu2 ul{}
		#sub_menu2 li{float: left;width: 25%;height: 60px;
			border-bottom: 2px solid #632475;
			border-right:1px solid #bdbdbd;
			background-color: #fff;
			text-align: center;line-height: 60px;}
		#sub_menu2 .active{background-color: #632475;}
		#sub_menu2 .active a{color: #fff;font-weight: bold;}
		#sub_menu2 li:last-child{border-right: none;}
		#sub_menu2 a{display:block;color:#808080;}
		/*text*/
		#sub_txt{padding-top: 170px;color:white;text-align: center;}
		#sub_txt p{font-size:1.2em;}
		#sub_txt h3{font-size:2em;padding-top: 30px;}

	/*content*/
	#sub_content{}		
		.sub_img{width: 1260px;margin: 0 auto;}
		.sub_img div{display: none;}
		.sub_img div:first-child{display: block;}



/*sub content2*/
.sub_content2{height: 730px;position: relative;
	background: url(../images/sub_content_img_10.jpg) no-repeat
	/* center fixed*/;
	background-size: cover;
	margin-bottom: 100px;}
.sub_content2 h3{padding-top: 100px; color:#fff;
	font-size:2em;text-align: center;}
.sub_content2 .sub2_wrapper{width: 1100px;margin: 0 auto;}
	.sub2_wrap{float: left;width: 300px;height: 380px;
		text-align: center;;
		margin-top: 50px;margin-right: 100px;
		transition: .5s;}
	.sub2_wrap:hover{box-shadow: 7px 7px 10px #000;}
	.sub2_wrap:last-child{margin-right: 0;}
	.sub2_wrap p{padding-top: 70px;font-size:1.5em;}
	.sub2_wrap img{margin-top: 70px;}
	.sub2_wrap a{color:#fff;}

/*sub content3*/
.sub_content3{width: 100%;height: 725px;
	background: url(../images/sub_content_img_11.jpg) no-repeat;
	background-size: cover;
	margin-bottom: 100px;}
	.sub_content3 p{margin: 0 auto;width: 425px;
		padding-top: 65px;
		font-size:1.2em;font-weight:bold;
		text-shadow: 0 0 100px #000;}
	.sub_content3 h3{padding-top: 250px;
		font-size:5em;text-align: center;
		color:#fff;
		text-shadow: 
		3px 0 0 #808080,
		-3px 0 0 #808080,
		0 3px 0 #808080,
		0 -3px 0 #808080,

		3px 3px 0 #808080,
		-3px 3px 0 #808080,
		3px -3px 0 #808080,
		-3px -3px 0 #808080,
		5px 5px 15px #000;}

/*sub content4*/
.sub_content4{height: 725px;position: relative;
	background: url(../images/sub_content_img_12.jpg) no-repeat;
	background-size: cover;}
	.sub_wrap{width: 1260px;margin: 0 auto;}
	.sub_wrap p{font-size:2.5em;font-weight: bold;
		padding-top: 65px;
		color: #4c4c4c;}
	.sub_wrap img{position: absolute;bottom: 65px;}

/*footer*/
#sub_footer{width: 1260px;margin: 0 auto;
	padding: 45px 80px 0 80px;
	color:#808080; position: relative;}
	#sub_footer p{padding-bottom: 10px;}
	#sub_footer a{color: #808080;}
	#sub_footer span{padding: 0 25px;}
	#sub_footer .p_1{}
	#sub_footer .p_2{font-size: 0.9em;}
	#sub_footer img{position: absolute;
		top: 50%;right: 80px;
		transform: translate(0,-25%);}


/*----------------------------------------sub02----------------------------------------*/
#sub02_header{height: 615px;margin: 0 auto;
		background: url(../images/sub_img_02.jpg)no-repeat right;
		background-size: cover;position: relative;}
	#sub02_header_top{width:1260px;height:50px;
		margin: 0 auto;/*
		position:absolute;left:50%;margin-left:-630px;
		top:40px;z-index: 1;*/}
	#sub02_header_top > a{float:left;padding-top: 25px;}
	
	#sub02_menu{float:right;}
	#sub02_menu ul{padding-top: 25px;}
	#sub02_menu ul li{float: left;}
	#sub02_menu ul li a{display:block;padding:0 30px;
		color: #4c4c4c;line-height:50px;
		font-weight:bold;}
	#sub02_menu ul>li.kro,
	#sub02_menu ul>li.eng{display:block;
		width: 50px;height: 50px;}
	#sub02_menu ul>li.kro{background-color: #632475;}
	#sub02_menu ul>li.eng{border:1px solid #632475;}
		#sub02_menu ul li.kro>a{color:#fff;}
		#sub02_menu ul li.kro>a,
		#sub02_menu ul li.eng>a{padding-left: 10px;font-weight:normal;}
		#sub02_menu2{width: 1260px;margin: 0 auto; 
			position: absolute;left: 50%;margin-left: -630px;bottom: 0;}
		#sub02_menu2 ul{}
		#sub02_menu2 li{float: left;width: 25%;height: 60px;
			border-bottom: 2px solid #632475;
			border-right:1px solid #bdbdbd;
			background-color: #fff;
			text-align: center;line-height: 60px;}
		#sub02_menu2 .active{background-color: #632475;}
		#sub02_menu2 .active a{color: #fff;font-weight: bold;}
		#sub02_menu2 li:last-child{border-right: none;}
		#sub02_menu2 a{display:block;color:#808080;}
		/*text*/
		#sub02_txt{padding-top: 170px;color:white;text-align: center;}
		#sub02_txt h3{font-size:2em;
			color:#fff;
			text-shadow: 
			3px 0 0 #4c4c4c,
			-3px 0 0 #4c4c4c,
			0 3px 0 #4c4c4c,
			0 -3px 0 #4c4c4c,

			3px 3px 0 #4c4c4c,
			-3px 3px 0 #4c4c4c,
			3px -3px 0 #4c4c4c,
			-3px -3px 0 #4c4c4c;}


/*footer*/
#sub02_footer{width: 1260px;margin: 0 auto;
	padding: 45px 80px 0 80px;
	color:#808080; position: relative;}
	#sub02_footer p{padding-bottom: 10px;}
	#sub02_footer a{color: #808080;}
	#sub02_footer span{padding: 0 25px;}
	#sub02_footer .p_1{}
	#sub02_footer .p_2{font-size: 0.9em;}
	#sub02_footer img{position: absolute;
		top: 50%;right: 80px;
		transform: translate(0,-25%);}

/*----------------------------------------sub03----------------------------------------*/
#sub03_header{height: 460px;margin: 0 auto;
		background: url(../images/sub_img_01.jpg)no-repeat;
		background-size: cover;position: relative;}
	#sub03_header_top{width:1260px;height:50px;
		margin: 0 auto;/*
		position:absolute;left:50%;margin-left:-630px;
		top:40px;z-index: 1;*/}
	#sub03_header_top > a{float:left;padding-top: 25px;}
	
	#sub03_menu{float:right;}
	#sub03_menu ul{padding-top: 25px;}
	#sub03_menu ul li{float: left;}
	#sub03_menu ul li a{display:block;padding:0 30px;
		color: #fff;line-height:50px;
		font-weight:bold;}
	#sub03_menu ul>li.kro,
	#sub03_menu ul>li.eng{display:block;
		width: 50px;height: 50px;}
	#sub03_menu ul>li.kro{background-color: #632475;}
	#sub03_menu ul>li.eng{border:1px solid #632475;}
		#sub03_menu ul li.kro>a,
		#sub03_menu ul li.eng>a{padding-left: 10px;font-weight:normal;}
		#sub03_menu2{width: 1260px;margin: 0 auto; 
			position: absolute;left: 50%;margin-left: -630px;bottom: 0;}
		#sub03_menu2 ul{}
		#sub03_menu2 li{float: left;width: 25%;height: 60px;
			border-bottom: 2px solid #632475;
			border-right:1px solid #bdbdbd;
			background-color: #fff;
			text-align: center;line-height: 60px;}
		#sub03_menu2 .active{background-color: #632475;}
		#sub03_menu2 .active a{color: #fff;font-weight: bold;}
		#sub03_menu2 li:last-child{border-right: none;}
		#sub03_menu2 a{display:block;color:#808080;}
		/*text*/
		#sub03_txt{padding-top: 170px;color:white;text-align: center;}
		#sub03_txt p{font-size:1.2em;}
		#sub03_txt h3{font-size:2em;padding-top: 30px;}

/*footer*/
#sub03_footer{width: 1260px;margin: 0 auto;
	padding: 45px 80px 0 80px;
	color:#808080; position: relative;}
	#sub03_footer p{padding-bottom: 10px;}
	#sub03_footer a{color: #808080;}
	#sub03_footer span{padding: 0 25px;}
	#sub03_footer .p_1{}
	#sub03_footer .p_2{font-size: 0.9em;}
	#sub03_footer img{position: absolute;
		top: 50%;right: 80px;
		transform: translate(0,-25%);}


/*----------------------------------------sub04----------------------------------------*/
#sub04_header{height: 460px;margin: 0 auto;
		background: url(../images/sub_img_01.jpg)no-repeat;
		background-size: cover;position: relative;}
	#sub04_header_top{width:1260px;height:50px;
		margin: 0 auto;/*
		position:absolute;left:50%;margin-left:-630px;
		top:40px;z-index: 1;*/}
	#sub04_header_top > a{float:left;padding-top: 25px;}
	
	#sub04_menu{float:right;}
	#sub04_menu ul{padding-top: 25px;}
	#sub04_menu ul li{float: left;}
	#sub04_menu ul li a{display:block;padding:0 30px;
		color: #fff;line-height:50px;
		font-weight:bold;}
	#sub04_menu ul>li.kro,
	#sub04_menu ul>li.eng{display:block;
		width: 50px;height: 50px;}
	#sub04_menu ul>li.kro{background-color: #632475;}
	#sub04_menu ul>li.eng{border:1px solid #632475;}
		#sub04_menu ul li.kro>a,
		#sub04_menu ul li.eng>a{padding-left: 10px;font-weight:normal;}
		#sub04_menu2{width: 1260px;margin: 0 auto; 
			position: absolute;left: 50%;margin-left: -630px;bottom: 0;}
		#sub04_menu2 ul{}
		#sub04_menu2 li{float: left;width: 25%;height: 60px;
			border-bottom: 2px solid #632475;
			border-right:1px solid #bdbdbd;
			background-color: #fff;
			text-align: center;line-height: 60px;}
		#sub04_menu2 .active{background-color: #632475;}
		#sub04_menu2 .active a{color: #fff;font-weight: bold;}
		#sub04_menu2 li:last-child{border-right: none;}
		#sub04_menu2 a{display:block;color:#808080;}
		/*text*/
		#sub04_txt{padding-top: 170px;color:white;text-align: center;}
		#sub04_txt p{font-size:1.2em;}
		#sub04_txt h3{font-size:2em;padding-top: 30px;}

/*footer*/
#sub04_footer{width: 1260px;margin: 0 auto;
	padding: 45px 80px 0 80px;
	color:#808080; position: relative;}
	#sub04_footer p{padding-bottom: 10px;}
	#sub04_footer a{color: #808080;}
	#sub04_footer span{padding: 0 25px;}
	#sub04_footer .p_1{}
	#sub04_footer .p_2{font-size: 0.9em;}
	#sub04_footer img{position: absolute;
		top: 50%;right: 80px;
		transform: translate(0,-25%);}