@charset "utf-8";
@import "pc.css" all and (min-width:961px);
@import "tablet.css" all and (max-width:960px);

@media all and (max-width:630px){
	#main_header{height: 1130px;}
	/*slide*/
	.slider_wrap ul li{height: 380px;}
	.slider_wrap p{font-size:0.8em;}
	.slider_wrap h3{font-size:2em;}

	/*content*/
	#main_header .content li{height: 250px;}

	/*1*/
	.content li.content1st p{top: 75%;}

	/*3*/
	.content li.content3rd .slider2 div.right{height: 250px;}
	.content li.content3rd .slider2 div.left{padding-top:85px;}
}

@media all and (max-width:520px){
	#main_header{height: 980px;}
	/*slide*/
	.slider_wrap ul li{height: 380px;}
	.slider_wrap p{font-size:0.8em;}
	.slider_wrap h3{font-size:2em;}

	/*content*/
	#main_header .content li{height: 200px;}

	/*2*/
	.content li.content1st p{display: none;}
	
	/*3*/
	.content li.content3rd .slider2 div.right{height: 200px;}
	.content li.content3rd .slider2 div.left{padding-top:70px;}
	li.content3rd .btn{left: 35%;bottom: 15px;}
	li.content3rd .btn img{width: 30px;height: 30px;}

	/*7*/
	.content li.content7st{}
	li.content7st .card h3{top: 70px; font-size:1.2em;}
	li.content7st .card p{bottom: 20px;	font-size:0.8em;}
	li.content7st .card img{top:20px; width: 160px;height: 31.2px;}
	li.content7st .card{width: 300px; height: 180px; bottom: 10px;left: 10px;}

	/*content*/
	#content{height: 500px;}
	.section{width: 100%;}
	.section > p{padding-top: 20px;}
	.section li{width: 40%;height: 140px; margin: 35px 5%;}
	.section li .box h3{font-size: 1.1em;padding-top: 5px;}
	.section li .box p{display: none;}

	/*content_2*/
	#content_2 li{height: 200px;}
	#content_2 li.box_c1{width: 50%;height: 400px !important;}
	li.box_c1{padding-top:5px;}
	li.box_c1 img{margin:0 auto;_margin-bottom:0;}
	li.box_c1 .text_c3{padding-left:20px;font-size: 0.8em;}
	li.box_c1 h3{text-align:center;font-size: 1.5em;margin-bottom: 25px;}

	li.box_c1 .bx-viewport{height: 400px !important;}
	
	.box_c2 img, .box_c4 img, .box_c6 img{width: 100%;height: 200px;}
	#content_2 .box_c3 .name{width: 189.7px;height: 27.3px;}
	#content_2 .box_c3 .comment{width: 187.6px;height: 87.5px;}

	#content_2 .box_c5 .name{width: 102.9px;height: 22.4px;}
	#content_2 .box_c5 .comment{width: 186.9px;height: 108.5px;}

	#content_2 .box_c7 .name{width: 99.4px;height: 27.3px;}
	#content_2 .box_c7 .comment{width: 190.4px;height: 84.7px;}

	/*content_3*/
	#content_3 li{height: 200px;}
	#content_3 li h2{font-size: 1.1em;}
	#content_3 li p{font-size: 0.8em;}
	#content_3 li.li_c3_1 a,
	#content_3 li.li_c3_2 a{bottom: 20px;left: 30px;}
	#content_3 li.li_c3_1 img{width: 217.2px;height: 138px;}
	#content_3 li.li_c3_2 img{width: 171px;height: 175.2px;}
}