@charset "utf-8";
@import "pc.css" all and (min-width:961px);
@import "tablet.css" all and (max-width:960px);

@media all and (max-width:630px){
	#main_header{height: 1130px;}
	/*slide*/
	.slider_wrap ul li{height: 380px;}
	.slider_wrap p{font-size:0.8em;}
	.slider_wrap h3{font-size:2em;}

	/*content*/
	#main_header .content li{height: 250px;}

	/*1*/
	.content li.content1st p{top: 75%;}

	/*3*/
	.content li.content3rd .slider2 div.right{height: 250px;}
	.content li.content3rd .slider2 div.left{padding-top:85px;}

	/*content_2*/
	#content_2 li{height: 250px;}
	#content_2 li.box_c1{height: 500px !important;}
	li.box_c1{padding-top:5px;}
	li.box_c1 .text_c3{padding:0 20px;font-size: 0.85em;}
	li.box_c1 h3{margin-bottom: 60px;}
	li.box_c1 .btn img{width: 35px;height: 35px;}
	li.box_c1 .btn{bottom: 15px;right: 25px;}

	li.box_c1 .bx-viewport{height: 400px !important;}
	
	.box_c2 img, .box_c4 img, .box_c6 img{width: 100%;height: 250px;}
	#content_2 .box_c3 .name{width: 243.9px;height: 35.1px;}
	#content_2 .box_c3 .comment{width: 241.2px;height: 112.5px;}

	#content_2 .box_c5 .name{width: 132.3px;height: 28.8px;}
	#content_2 .box_c5 .comment{width: 248.4px;height: 139.5px;}

	#content_2 .box_c7 .name{width: 127.8px;height: 35.1px;}
	#content_2 .box_c7 .comment{width: 244.8px;height: 108.9px;}

	/*content_3*/
	#content_3 li{height: 250px;}
	#content_3 li h2{font-size: 1.3em;}
	#content_3 li p{font-size: 0.9em;}
	#content_3 li a{width: 150px;height: 40px;
		text-align: center;line-height: 38px;
		font-size: 1em;}
	#content_3 li.li_c3_1 a,
	#content_3 li.li_c3_2 a{bottom: 30px;left: 30px;}
	#content_3 li.li_c3_1 img{width: 289.6px;height: 184px;}
	#content_3 li.li_c3_2 img{width: 228px;height: 233.6px;}
	
	/*margin*/
	#content{margin: 40px 0;}
	#content_3{margin: 40px auto;}
}

@media all and (max-width:520px){
	#main_header{height: 980px;}
	/*slide*/
	.slider_wrap ul li{height: 380px;}
	.slider_wrap p{font-size:0.8em;}
	.slider_wrap h3{font-size:2em;}
	.slider_wrap p:after{width: 330px;height: 2px;}
	.slider_wrap .slider_txt{top: 22%;}

	/*content*/
	#main_header .content li{height: 200px;}

	/*2*/
	.content li.content1st p{display: none;}
	
	/*3*/
	.content li.content3rd .slider2 div.right{height: 200px;}
	.content li.content3rd .slider2 div.left{padding-top:70px;}
	li.content3rd .btn{left: 35%;bottom: 13px;}
	li.content3rd .btn img{width: 30px;height: 30px;}

	/*7*/
	.content li.content7st{}
	li.content7st .card h3{top: 70px; font-size:1.2em;}
	li.content7st .card p{bottom: 20px;	font-size:0.8em;}
	li.content7st .card img{top:20px; width: 160px;height: 31.2px;}
	li.content7st .card{width: 300px; height: 180px; bottom: 10px;left: 10px;}

	/*content*/
	#content{height: 500px;}
	.section{width: 100%;}
	.section > p{padding-top: 20px;}
	.section li{width: 40%;height: 140px; margin: 35px 5%;}
	.section li .box h3{font-size: 1.1em;padding-top: 5px;}
	.section li .box p{display: none;}

	/*content_2*/
	#content_2 li{height: 200px;}
	#content_2 li.box_c1{width: 50%;height: 400px !important;}
	li.box_c1{padding-top:5px;}
	li.box_c1 img{margin:0 auto;width: 140px;height: 140px;}
	li.box_c1 .text_c3{padding:0 10px;font-size: 0.8em;}
	li.box_c1 h3{text-align:center;font-size: 1.5em;margin-bottom: 25px;}

	li.box_c1 .bx-viewport{height: 394px !important;}
	
	.box_c2 img, .box_c4 img, .box_c6 img{width: 100%;height: 200px;}
	#content_2 .box_c3 .name{width: 216.8px;height: 31.2px;}
	#content_2 .box_c3 .comment{width: 214.4px;height: 100px;}

	#content_2 .box_c5 .name{width: 117.6px;height: 25.6px;}
	#content_2 .box_c5 .comment{margin-top: -10px;width: 200.25px;height: 116.25px;}

	#content_2 .box_c7 .name{width: 113.6px;height: 31.2px;}
	#content_2 .box_c7 .comment{width: 217.6px;height: 96.8px;}

	/*content_3*/
	#content_3 li{height: 200px;}
	#content_3 li h2{font-size: 1.1em;}
	#content_3 li p{font-size: 0.8em;}
	#content_3 li a{width: 120px;height: 37px;
		text-align: center;line-height: 35px;
		font-size: 0.9em;}
	#content_3 li.li_c3_1 a,
	#content_3 li.li_c3_2 a{bottom: 20px;left: 30px;}
	#content_3 li.li_c3_1 img{width: 217.2px;height: 138px;}
	#content_3 li.li_c3_2 img{width: 171px;height: 175.2px;}

	/*footer*/
	#footer span{padding: 0 10px;}
	#footer .p_1{font-size: 0.8em;}
	#footer .p_2{font-size: 0.7em;}

	/*margin*/
	#content{margin: 30px 0;}
	#content_3{margin: 30px auto;}
}

@media all and (max-width:375px){
	#main_header{height: 889px;}
	/*slide*/
	.slider_wrap ul li{height: 325px;}
	.slider_wrap .slider_txt{top: 17%;}
	.slider_wrap p{font-size:0.7em;}
	.slider_wrap h3{font-size:1.9em;}
	.slider_wrap p:after{width: 300px;height: 2px;}
	.prevBtn{left: 10px;width: 25px;height: 50px;}
	.nextBtn{right: 10px;width: 25px;height: 50px;}

	/*content*/
	#main_header .content li{height: 188px;}

	/*2*/
	.content li.content1st p{display: none;}
	.content li.content1st img{width: 130px;height: 130px;}
	
	/*3*/
	.content li.content3rd .slider2 div.right{height: 188px;}
	.content li.content3rd .slider2 div.left{padding-top:70px;}
	.content li.content2nd .play_2nd{width: 75px;height: 75px;}
	li.content3rd .btn{left: 34%;bottom: 10px;}
	li.content3rd .btn img{width: 25px;height: 25px;}

	/*7*/
	.content li.content7st{}
	li.content7st .card h3{top: 55px; font-size:1em;}
	li.content7st .card p{bottom: 20px;	font-size:0.7em;}
	li.content7st .card img{top:20px; width: 120px;height: 23.4px;}
	li.content7st .card{width: 260px; height: 150px; bottom: 5px;left: 10px;}

	/*content*/
	#content{height: 500px;}
	.section{width: 100%;}
	.section > p{padding-top: 20px;}
	.section li{width: 40%;height: 140px; margin: 35px 5%;}
	.section li img{top: -20px;width: 140px;height: 140px;}
	.section li .box h3{font-size: 1em;padding-top: 5px;}
	.section li .box p{display: none;}

	/*content_2*/
	#content_2 li{height: 188px;}
	#content_2 li.box_c1{width: 50%;height: 376px !important;}
	li.box_c1{padding-top:5px;}
	li.box_c1 img{margin:0 auto;width: 130px;height: 130px;}
	li.box_c1 .text_c3{padding:0 10px;font-size: 0.8em;}
	li.box_c1 h3{text-align:center;font-size: 1.5em;margin-bottom: 25px;}
	
	li.box_c1 .btn img{width: 30px;height: 30px;}
	li.box_c1 .btn{bottom: 15px;right: 15px;}

	li.box_c1 .bx-viewport{height: 370px !important;}
	
	.box_c2 img, .box_c4 img, .box_c6 img{width: 100%;height: 188px;}
	#content_2 .box_c3 .name{width: 162.6px;height: 23.4px;}
	#content_2 .box_c3 .comment{width: 160.8px;height: 75px;}

	#content_2 .box_c5 .name{width: 88.2px;height: 19.2px;}
	#content_2 .box_c5 .comment{/*margin-top: -10px;*/width: 160.2px;height: 93px;}

	#content_2 .box_c7 .name{width: 85.2px;height: 23.4px;}
	#content_2 .box_c7 .comment{width: 163.2px;height: 72.6px;}

	/*content_3*/
	#content_3 li{height: 188px;}
	#content_3 li h2{font-size: 1.1em;}
	#content_3 li p{font-size: 0.8em;}
	#content_3 li a{width: 100px;height: 32px;
		text-align: center;line-height: 30px;
		font-size: 0.8em;}
	#content_3 li.li_c3_1 a,
	#content_3 li.li_c3_2 a{bottom: 20px;left: 30px;}
	#content_3 li.li_c3_1 img{width: 144.8px;height: 92px;}
	#content_3 li.li_c3_2 img{width: 142.5px;height: 146px;}
	/*#content_3 li.li_c3_1 img{bottom: 20px;right:20px;}*/

	/*footer*/
	#footer span{padding: 0 6px;}
	#footer .p_1{font-size: 0.75em;}
	#footer .p_2{font-size: 0.65em;}

	/*margin*/
	#content{margin: 25px 0;}
	#content_3{margin: 25px auto;}
}