@charset "utf-8";
@media all and (max-width: 960px){
#main_header{height:1445px; position: relative;}
	#header_top{width:100%;height:50px;
		position:absolute;
		top:40px;z-index: 2;}
	#header_top img{float:left;width: 96px;height: 54px;}
	#header_top > a{float:left;margin-left: 40px;}

	#header_top > .toggleMenu{width:50px;height:50px;
		float: right;position: relative;
		z-index: 4;}
	#header_top > .toggleMenu.change{position: fixed;right: 0px;top: 40px;}
	.toggleMenu div{width: 35px;height: 5px;background-color: #fff;
		border-radius: 3px;transition:0.4s;cursor: pointer;
		position: absolute;right: 35px;}
	.toggleMenu .bar1{top: 10px;}
	.toggleMenu .bar2{top: 20px;}
	.toggleMenu .bar3{top: 30px;}
	

	.toggleMenu.change .bar1{top: 20px;transform: rotate(-45deg);
		background-color: #4c4c4c;}
	.toggleMenu.change .bar2{opacity: 0;}
	.toggleMenu.change .bar3{top: 20px;transform: rotate(45deg);
		background-color: #4c4c4c;}

	#main_menu{width: 50%;height: 100%;
		position: fixed;top: 0;right: -100%;
		background-color: rgba(255,255,255,0.9)/*#632475*/;
		z-index: 3;}
	#main_menu ul{}
	#main_menu ul li{margin-bottom: 20px;}
	#main_menu ul li:nth-child(1){margin-top: 100px;}
	#main_menu ul li a{display:block;padding:0 30px;
		color: #4c4c4c;line-height:50px;
		font-weight:bold;}
	#main_menu ul li>a:after{content:"";display: block;
		width: 0;height: 1px;
		margin-top: -7px;
		background-color: #808080;
		transition: .3s;}
	#main_menu ul li a:hover:after{width: 35%;}
	#main_menu .lag{position: absolute;bottom: 50px;right: 10px;
	 margin-right: 40px;}
	#main_menu .lag li{float: left;}
	#main_menu .lag .kro,
	#main_menu .lag .eng{display:block;
		width: 50px;height: 50px;}
	#main_menu .lag .kro{background-color: #632475;}
	#main_menu .lag .eng{border:1px solid #632475;}
		#main_menu .lag .kro>a,
		#main_menu .lag .eng>a{padding-left: 10px;line-height:50px;
			color:#fff;font-weight:normal;}
		#main_menu .lag .eng>a{color: #4c4c4c;}

/*bxslider*/
.slider_wrap{position: relative;}
	.slider_wrap ul li{height: 500px;}
	.slider_wrap li h3{}
	.slider_wrap li.first{background:url(../images/mainimg03.jpg) no-repeat center;
	background-size:cover;}
	.slider_wrap li.second{background:url(../images/mainimg03.jpg) no-repeat center;
	background-size:cover;}
	.slider_wrap li.third{background:url(../images/mainimg03.jpg) no-repeat center;
	background-size:cover;}
	.slider_wrap li.fourth{background:url(../images/mainimg03.jpg) no-repeat center;
	background-size:cover;}
	.slider_wrap .slider_txt{width: 600px;position: absolute;
		left: 50%;margin-left: -300px;top: 25%;
		padding:70px 20px 50px 20px;
		color: #fff;text-align: center;
		text-shadow: 0 0 5px #000,
		0 0 100px #000;}
	.slider_wrap p:after{margin: 20px auto;
		content:"";display:block;
		width: 350px;height: 2px;
		background-color: #fff;
		text-shadow: 0 0 5px #000,
		0 0 100px #000;}
	.slider_wrap p{font-size:1em;}
	.slider_wrap h3{font-size:2.5em;}
	
	.prevBtn{cursor: pointer;position: absolute;
		top: 50%;transform: translate(0,-50%);
		left: 30px;width: 30px;height: 60px;}
	.nextBtn{cursor: pointer;position: absolute;
		top: 50%;transform: translate(0,-50%);
		right: 30px;width: 30px;height: 60px;}

.bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: 0;
    border: 0 none;
    background: #fff;
}
.bx-wrapper .bx-pager{
    top: 85%;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    border: 1px solid #fff;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #fff;
}

/*header content*/
#main_header .content{width: 100%;_background-color: #fff;
	position: absolute;bottom:0;}
#main_header .content li{float: left;width: 50%;height:315px;}


.content5st,
.content6st,
.content8st,
.content9st,
.content10st,
.content11st,
.content12st{display: none;}
.content li{position: relative;}

	/*1*/
	.content li.content1st{background-color: #7faa3d;
		color:white;font-weight:bold;
		padding-top: 30px;
		position: relative;}
	.content li.content1st img{position: absolute;top: 50%;left: 50%;
		transform: translate(-50%,-50%);}
	.content li.content1st p{position: absolute;top: 70%;left: 50%;
		transform: translate(-50%,0);}

	/*2*/
	.content li.content2nd{position: relative;overflow: hidden;transition:1s;}
	.content li.content2nd > img{width: 100%;}
	.content li.content2nd .play_2nd{position: absolute;top: 50%;left: 50%;
		transform: translate(-50%,-50%);}
	.content li.content2nd .content2nd_img{position: absolute;top: 0;transition: 1s;}
	.content li.content2nd .content2nd_img:hover{transform: scale(1.2);}

	/*3*/
	.content li.content3rd{width: 100% !important;position: relative;}
	.content li.content3rd h3{width: 200px;padding-top: 30px;padding-left: 30px;
		z-index: 1;position: absolute;}
	.content li.content3rd .slider2{position: absolute;top: 0;left: 0;width: 100%;}
	.content li.content3rd .slider2 li{width: 100%;}
	.content li.content3rd .slider2 div{float: left; width: 50%;}
	.content li.content3rd .slider2 div.left{padding-top:110px;
		text-align: center;}
	.content li.content3rd .slider2 div.left span{font-weight: bold;}
	.content li.content3rd .slider2 div.right{width: 50%;height: 315px;
	float: left;position: relative;}
	.content li.content3rd .slider2 div.right img{width: 100%;
		position: absolute;left: 0;
		top: 50%;transform: translateY(-50%);}
	.content li.content3rd .slider2 div.right:after{content:"";
		border-width: 20px;border-style:solid;
		border-color: transparent transparent transparent #fff;
		position: absolute;z-index: 1;top: 50%;transform: translateY(-50%);}

		li.content3rd .btn{position: absolute;left: 30%;bottom: 30px;cursor:pointer;}
		li.content3rd .btn img{float: left;width: 40px;height: 40px;}

	
	/*7*/
	.content li.content7st{width: 100% !important;
		position: relative;overflow: hidden;}
	.content li.content7st > img{width: 100%;position: absolute;top: 50%;transform: translateY(-50%)}
	li.content7st .card{position: absolute;width: 375px;height: 180px;
		bottom: 30px;left: 30px;
		background-color: rgba(255,255,255,0.5);color: #41347a;
		_box-shadow:7px 10px 5px rgba(0,0,0,0.5);
		padding:50px 20px 50px 20px;}
	li.content7st .card h3{position: absolute;top: 70px;
	font-size:1.5em;}
	li.content7st .card p{position: absolute;bottom: 10px;
	font-size:1em;font-weight: bold;}
	li.content7st .card img{position: absolute;top:10px;}


/*content*/
#content{margin: 50px 0;
	width :100%;height: 700px;position: relative;
	background: url(../images/content_img_01.jpg) no-repeat center fixed;
	background-size: cover;}
	.section{width: 100%;color:white;margin: 0 auto;}
	.section > p{font-size:0.9em;text-align: center;padding-top: 40px;}
	.section > p:after{content:"";display:block;
			width: 30px;height: 2px; margin: 15px auto;
			background-color: #fff;}
	.section p{text-align: center;}
	.section h2{font-size:1.2em;text-align: center;margin-bottom: 0px;}
	.section ul{width: 100%;}
	.section li{float: left;width: 40%;height: 200px;
		margin: 50px 5%;transition:0.3s;
		position: relative;}
	.section li:hover{transform:translate(-10px,-10px);
		box-shadow:8px 8px 10px rgba(0,0,0,0.5);}
	.section li:last-child{margin-right:0;}
	.section li:nth-child(2){margin-right:0;}
	.section li img{position: absolute;top: -25px;
		left: 50%; transform: translate(-50%,0);}
	.section li .box{margin-top: 100px;
		text-align: center;}
	.section li .box h3{font-size: 1.2em;margin: 10px 0;}
	.section li .box p{font-size: 0.8em;}
/*content_2*/
#content_2{
	width : 100%; margin: 0 auto;
	overflow: hidden;}
#content_2 ul{}
#content_2 li{float: left;width: 50%;height: 315px;}
.box_c1, .box_c3,
.box_c4, .box_c5{border-bottom: 1px solid #e5e5e5;}
	/*purple*/
	#content_2 li.box_c1{width: 50%;height: 630px !important;
		position: relative; background-color: #632475;color:#fff;}
		li.box_c1{padding-top:60px;}
		li.box_c1 img{margin:0 auto;margin-bottom:10px;}

		li.box_c1 .text_c3{padding-left:20px;font-size: 0.95em;}
		li.box_c1 h3{text-align:center;font-size: 2em;margin-bottom:70px;}	
		li.box_c1 .day{padding-top: 20px;}	

		li.box_c1 .btn{position: absolute;bottom: 30px;right: 30px;}
		li.box_c1 .btn img{float: left;width: 40px;height: 40px;}
		li.box_c1 .bx-viewport{height: 500px !important;}
		li.box_c1 .bx-wrapper{ background-color: #632475}


	/*comment*/
	.box_c2 img, .box_c4 img, .box_c6 img{width: 100%;height: 315px;}
	#content_2 .name{position: absolute;top: 15%;
		left: 50%;transform:translate(-50%,0);}
	#content_2 .comment{position: absolute;top: 40%;
		left: 50%;transform:translate(-50%,0);}
	/*화살표*/
	li.box_c3{position: relative;background-color: #f7f7f7;}
	li.box_c3:after{content:"";border-width:20px;
			border-style:solid;border-color: transparent transparent #f7f7f7 transparent;
			position: absolute;bottom: 100%;left: 50%;transform: translateX(-50%);}

	li.box_c5{position: relative;background-color: #f7f7f7;}
	li.box_c5:after{content:"";border-width:20px;
			border-style:solid;border-color: transparent #f7f7f7 transparent transparent;
			position: absolute;top: 50%;right: 100%;transform: translateY(-50%);}

	li.box_c7{position: relative;background-color: #f7f7f7;}
	li.box_c7:after{content:"";border-width:20px;
			border-style:solid;border-color: transparent #f7f7f7 transparent transparent;
			position: absolute;top: 50%;right: 100%;transform: translateY(-50%);}
	
/*content_3*/
#content_3{width : 100%; margin: 50px auto;}
	#content_3 li{float: left;width: 100%; height: 315px;
		position: relative;padding: 30px;}
	#content_3 li h2{font-size: 1.4em;}
	#content_3 li p{font-size: 0.9em;}

	#content_3 li h2:after{content:"";display:block;
		width: 50px;height: 2px;margin: 15px 0;}
	#content_3 li.li_c3_1 h2:after{background-color: #808080;}
	#content_3 li.li_c3_2 h2:after{background-color: #fff;}
	#content_3 li.li_c3_1{color: #808080;background-color: #fef6c7;}
	#content_3 li.li_c3_2{color: #fff;background-color: #9597c7;}
	#content_3 li.li_c3_1 img{position: absolute;bottom: 30px;right:30px;}
	#content_3 li.li_c3_2 img{position: absolute;bottom: 0;right: 30px;}
	#content_3 li a{width: 170px;height: 50px;
		text-align: center;line-height: 48px;}
	#content_3 li.li_c3_1 a{position: absolute;color: #808080;
		bottom: 50px;left: 50px;
		border: 1px solid #808080;}
	#content_3 li.li_c3_2 a{position: absolute;color: #fff;
		bottom: 50px;left: 50px;
		border: 1px solid #fff;}


/*footer*/
footer{width : 100%; background-color: #fff;
	border-top:1px solid #808080;}
#footer{width: 100%;margin: 0 auto;
	padding: 20px 80px 10px 80px;
	text-align: center;
	color:#808080; position: relative;}
	#footer p{padding-bottom: 10px;}
	#footer a{color: #808080;}
	#footer span{padding: 0 25px;}
	#footer .p_1{font-size: 0.8em;}
	#footer .p_2{font-size: 0.7em;}
	#footer img{width: 108px;height: 57.6px;margin-bottom: 15px;}
}