@charset "utf-8";
.logo{position: fixed;z-index: 4;top: 30px;left: 30px;}
/*toggleMenu*/
	.toggleMenu {z-index: 3;position:fixed;right: 0;
		cursor: pointer;}
	.toggleMenu ul{}
	.toggleMenu ul li.bar1{width: 30px;height: 2px;
		background-color: #4d4d4d;margin:30px 30px 10px 10px;
		transition: .5s;}
	.toggleMenu ul li.bar2{width: 20px;height: 2px;
		background-color: #4d4d4d;margin-left:20px;margin-bottom: 10px;
		transition: .5s;}
		/*change*/
		.toggleMenu.change{position:fixed;right: 0;z-index: 3;}
		.toggleMenu.change ul li.bar1{width: 20px;height: 2px;
		background-color: #fff;margin-left:10px; margin-bottom: 10px;
		transition: .5s;}
		.toggleMenu.change ul li.bar2{width: 30px;height: 2px;
		background-color: #fff;margin:0 30px 0 0;
		transition: .5s;}
		.toggleMenu:hover{position:fixed;right: 0;z-index: 3;}
		.toggleMenu:hover ul li.bar1{width: 20px;height: 2px;
		background-color: #4d4d4d;margin-left:10px; margin-bottom: 10px;
		transition: .5s;}
		.toggleMenu:hover ul li.bar2{width: 30px;height: 2px;
		background-color: #4d4d4d;margin:0 30px 0 0;
		transition: .5s;}

/*midMenu*/
	#midMenu{z-index: 2;position:fixed;
		width: 100%;height: 100%;top: -100%;
		background: rgba(255,255,255,0.7)/*url(../images/menu001.jpg)*/;}
	#midMenu ul{position: absolute;width: 690px;
		_background-color: pink;margin: 0 auto;
		top: 50%;left: 50%;transform:translate(-50%,-50%);}
	#midMenu ul li{float: left;margin-right:100px;}
	#midMenu ul li:nth-child(5){margin-left: 50px;margin-right:0;}
	#midMenu ul li a{display: block;width: 30px;
		font-weight: bold;font-size: 2em;
		color:#4d4d4d;}
		
/*fullpage*/
	#fullPage{width: 100%;height: 100%;_z-index: 2;}
		.page{background-repeat:no-repeat;
			background-position: center top;
			background-size:cover;}
		#page1{background-image:url(../images/cont006.jpg);}
		#page2{background: lightgray;}
		#page3{background: #aaa;}
		#page4{background:gray;}
		#page5{background-image:url(../images/cont006.jpg);}

/*page1*/
	#page1{position: relative;}
	/*txt*/
	.txt_p1{position: absolute;width: 100%;background-color: #fff;}
	.txt_p1 p{float: left;position: absolute;
		margin-top: 100px;font-weight: bold;}
	.txt_p1 .p_1{left: 100px;
		text-align: left;_background-color: #fff;
		font-size: 2.5em;}
	.txt_p1 .p_2{left: 50%;transform: translateX(-50%);
		text-align: left;
		font-size: 1.5em;}
	.txt_p1 .p_3{right: 100px;
		text-align: right;
		font-size: 1.5em;}
	/*scroll*/
	.scroll{position: absolute;z-index: 4;
		left: 50%;transform: translateX(-50%);
		text-align: center;transition: 0.5s;
		animation: ye 1.2s infinite ease-in-out alternate;}
		@keyframes ye{
			from{bottom: -3px;}
			to{bottom: 30px;}
		}
	.scroll:hover{_bottom: 30px;}
	.scroll p{padding-bottom: 10px;font-weight: bold;
		color: #4d4d4d;
		text-shadow: 0 0 5px #fff, 0 0 10px #fff;}
	.scroll img{width: 60px;height: 60px;}
	/*up*/
	.up{margin: 0 auto;width: 1500px;height: 800px;
		position: relative;
		_background-color: #fff;}
	.up img{position: absolute;transition: 0.5s;}
	/*.up .img_1:hover{bottom: 100px;opacity: 0;}*/
	.up .img_2:hover,
	.up .img_3:hover{bottom: 150px;}

	.up .img_1{width: 70px;height: 350px;
		bottom: 100px;left: 460px;cursor: pointer;z-index: 2;}
	.up .img_1_1{width: 70px;height: 350px;opacity: 0;
		bottom: 100px;left: 460px;cursor: pointer;z-index: 1;}

	.up .img_2{width: 70px;height: 350px;
		bottom: 100px;left: 555px;cursor: pointer;z-index: 2;}
	.up .img_3{width: 210px;height: 350px;
		bottom: 65px;left: 737px;cursor: pointer;z-index: 2;}
	.up .img_4{width: 210px;height: 70px;
		bottom: 90px;left: 440px;z-index: 3;}
	.up .img_5{width: 1125px;height: 562.5px;
		bottom: 0;left: 50%;
		transform: translateX(-50%);z-index: 1}

	/*page2*/
	#page2{width: 100%;height: 100%;}
	/*.youtube{width: 800px;height: 800px;}*/
	iframe{margin: 0 auto;}

/*page2*/
	#page2{position: relative;}
	.youtube{width: 100%;_height: 100%;}
	.youtube video{min-width: 100%;min-height: 100%;
		width: auto;height: auto;}
	/*#videobcg{position: absolute;top: 0;left: 0;
		min-width: 100%;min-height: 100%;
		width: auto;height: auto;z-index: -1000;overflow: hidden;}*/

/*page3*/
	#page3 .slide{_position: relative;}
	#page3 .slide .sView1,
	#page3 .slide .sView2{width: 100%;height: 100%;}
	.sView1{background: url(../images/cont009.jpg) no-repeat center;
		background-size:cover;}
	.sView2{background: url(../images/cont010.jpg) no-repeat center;
		background-size:cover;}
		.slide > div a{width: 100px;height: 40px;
		border:1px solid #808080;
		color: #4d4d4d;border-radius:20px;
		padding-left: 15px;
		text-align: left;line-height: 35px;
		position: absolute;z-index: 2;
		bottom: 15%;}
		.slide > div a:hover{box-shadow: 0 0 10px #fff;
			text-shadow: 0 0 5px #fff,
			0 0 5px #fff;}
		.slide > div a img{display: block;padding: 10px 10px 0 0;}

/*page4*/
	#page4{_position: relative;}
	.products{width: 100%;height: 100%;}
	.products > div{float: left;width: 33.33%;height: 100%;}
	.products .img_1{background: url(../images/page_43.jpg) no-repeat center top;
		background-size:cover;position: relative;}
	.products .img_2{background: url(../images/page_44.jpg) no-repeat center top;
		background-size:cover;position: relative;}
	.products .img_3{background: url(../images/page_49.jpg) no-repeat center top;
		background-size:cover;position: relative;}

	.products img{float: left;display: block;
		width: 33.33%;position: relative;}
	.products .box{float: left;width: 100%;height: 100%;
		background: rgba(0,0,0,0.5);transition: 0.6s;}
		.products .box:hover{opacity: 0;}
	
	.products > div a h3{width: 30px;height: 160px;
		font-size: 1.7em;_background-color: pink;
		color: #4d4d4d;position: absolute;
		top: 25%;left: 50%;transform:translate(-50%,-50%);}
		.products > div h3:after{content:"";display: block;
			width: 5px;height: 70px;background-color: #4d4d4d;
			margin: -150px 0 0 -15px;opacity: 1;}

/*page5*/
	#page5{position: relative;}
	/*slide2*/
	/*#page5 .slide{padding-left: 10%;}
	#page5 .slide:_last-child{padding-left: -10%;}*/
	.row{_background-color: #fff;}
	.row li{float: left;text-align: center;_background-color: pink;}
	.row li:first-child{width: 30%;margin-right: 5%;}
	.row li:first-child img{width: 100%;height: 90%;
		margin: 5% 0 5% 50%; 
		box-shadow: 15px 15px 5px #999;}
	.row li:last-child{width: 65%;}

	.row .txt_1{width: 100%;height: 100%;color:#4d4d4d;
		text-shadow:0 0 15px #fff,
		0 0 20px #fff,
		0 0 15px #fff,
		0 0 20px #fff;
		_background-color: skyblue;}
	.row .txt_1 h3{font-size: 2.5em;margin-bottom: 5%;
		line-height: 40px;
		_background-color: pink;}
	.row .txt_1 p{font-size: 1.2em;font-weight: bold;
		margin-bottom: 5%;}
	.row .p_1{margin-bottom: 0;
		_background-color: pink;}

	/*column*/
		.column{}
		.column img{transform: rotate(45deg);
			margin-left: 150px;margin-bottom: 50px;}

		.column .img_1 img{}
		.column .img_2 img{}
		.column .img_3 img{transform: rotate(-45deg);}

	 	.column .img_1{width: 150%;height: 33.33%;_background-color: skyblue;
	 		overflow: hidden;
	 		position: absolute;top: -3%;
			animation: ji 3s infinite ease-in-out alternate;}
	 	.column .img_2{width: 150%;height: 33.33%;_background-color: pink;
	 		overflow: hidden;
	 		position: absolute;top: 35%;
	 		animation: jii 3s infinite ease-in-out alternate;}
		.column .img_3{width: 150%;height: 33.33%;_background-color: orange;
			overflow: hidden;
			position: absolute;top: 73%;
	 		animation: jiii 3s infinite ease-in-out alternate;} 	

 		@keyframes ji{
 			from{left:-250px;}
 			to{left:-10px;}
 		}
 		@keyframes jii{
 			from{left:-10px;}
 			to{left:-250px;}
 		}
 		@keyframes jiii{
 			from{left:-250px;}
 			to{left:-10px;}
 		}